img{
    height: 100%;
    width: 100%;
}
.row{
    height: 400px;
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}
.row > div{
    flex: 1;
}
.verticel{
    height: 50%;
     height: calc((100% - 5px)/2);
}
.squere{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
     
}
/* small device */
@media  screen and (max-width:576px){
    .row{
        flex-direction: column;
        height: auto;
    }
    .squere{
        grid-template-columns: repeat(1, 1fr);
    }
}
/* medium device */
@media screen and (min-width:576px) and (max-width:992px){
     .row{
        flex-direction: column;
        height: auto;
    }
}
